body 
{
    background-color: #303841;
    color: white;
}

#wordArea 
{
    font-size: 5rem;
    text-align: center;
    /*width: 200px;
    height: 120px;*/

    /*border: 2px solid black;*/
    display: none;
    position: relative;
    place-items: center;

    /*opacity: 0;
    transform: scale(0.95);*/
    padding: 12px 14px;

    max-width: 90vw;
}

#wordAreaText
{
    position: relative;
    z-index: 1;

    display: block;
    max-width: 90vw;
    word-wrap: break-word;
}

/* entrance + exit */
/*#wordArea.show {
  animation: appear-disappear 2.5s ease forwards;
}

@keyframes appear-disappear {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}*/

/* SVG border */
.border {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.border rect {
  fill: none;
  stroke: white;
  stroke-width: 3;

  stroke-dasharray: 1;
  stroke-dashoffset: 0;

  animation: border-countdown 5s linear forwards;

  /* start from top */
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

@keyframes border-countdown {
  to {
    stroke-dashoffset: 1;
  }
}



div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input
{
    color: white;
    background-color: #303841;
    border-color: white;
    font-size: 1.5rem;
}

button
{
    background-color: #272f3a;
    border-color: white;
    color: white;

    margin-top: 5%;
    font-size: 1.5rem;
    /*max-width: 75%;*/
}